<p-card [header]="'About'">
    <div>
        <p>This Web Application as my portofolio</p>
        <p>This web will using micro-frontend architecture for frontend and micro-services architecture for backend</p>
        <p>I will try to keep updating this web</p>
        <p>List framework used for this web</p>
        <li>Frontend :
            <ol>
                <li>Angular (host)</li>
                <li>Angular (remote)</li>
            </ol>
        </li>
        <li>
            No backend yet
        </li>
    </div>
</p-card>