:host ::ng-deep {
  .p-menubar {
    background-color: var(--text-color-secondary);
    // color: var(--primary-color-text);
    border-radius: 0;
    border: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px #0000004d;
    height: 56px;
  }

  .p-menubar-start {
    margin: 0 15px;
  }

  p-menubarsub {
    width: 100%;
    max-height: 56px;
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link {
    .p-menuitem-text {
      color: var(--primary-color-text);
    }
    .p-menuitem-icon {
      color: var(--primary-color-text);
    }
  }
  
  .p-menubar
    .p-menuitem:not(.p-highligth):not(.p-disabled).p-focus
    > .p-menuitem-content
    .p-menuitem-link {
    .p-menuitem-text {
      color: #6c757d;
    }
    .p-menuitem-icon {
      color: #6c757d;
    }
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-content:hover
    .p-menuitem-link {
    .p-menuitem-text {
      color: #6c757d;
    }
    .p-menuitem-icon {
      color: #6c757d;
    }
  }

  .p-menubar
    .p-menubar-root-list
    > .menuitem.p-menuitem-active
    > .p-menuitem-link {
    background-color: var(--primary-color);
  }
}
